<?xml version="1.0"?>
<launch>
    <!-- motor -->
    <node pkg="caddy_bot" type="motor.py" name="motor" clear_params="true"/>
    
    <!-- linktrack_aoa -->
    <node pkg="nlink_parser" type="linktrack_aoa" name="linktrack_aoa0" output="screen">
        <param name="port_name" value="/dev/ttyACM0" />
        <param name="baud_rate" value="921600" />
    </node>

    <!-- caddybot aoa following-->
    <node pkg="aoa_following" type="linktrack_example" name="linktrack_example"/>
</launch>
